<div class="flex w-full sm:w-9/12 lg:w-4/12 mt-20 mb-20 bg-[#341c4c] rounded-3xl">
  <div class="w-8/12 py-8 lg:py-16 px-0 mx-auto max-w-screen-md">
    <form action="#" class="space-y-8">
      <div class="" >
        <label
          for="email"
          class="block mb-2 text-sm font-medium text-white"
          >Your email</label
        >
        <input
          type="email"
          id="email"
          class="  border border-gray-900 text-gray-900 text-sm rounded-lg focus:ring-primary-500 block w-full p-2.5 bg-black  placeholder-gray-400 dark:text-white  focus:border-primary-500 shadow-sm-light"
          placeholder="name@flowbite.com"
          required
        />
      </div>
      <div>
        <label
          for="subject"
          class="block mb-2 text-sm font-medium text-white bold"
          >Subject</label
        >
        <input
          type="text"
          id="subject"
          class="  border border-gray-900 text-gray-900 text-sm rounded-lg focus:ring-primary-500 block w-full p-2.5 bg-black  placeholder-gray-400 dark:text-white  focus:border-primary-500 shadow-sm-light"
          placeholder="Let us know how we can help you"
          required
        />
      </div>
      <div class="sm:col-span-2">
        <label
          for="message"
          class="block mb-2 text-sm font-medium text-white bold"
          >Your message</label
        >
        <textarea
          id="message"
          rows="6"
          class="border border-gray-900 text-gray-900 text-sm rounded-lg focus:ring-primary-500 block w-full p-2.5 bg-black  placeholder-gray-400 dark:text-white  focus:border-primary-500 shadow-sm-light"
          placeholder="Leave a comment..."></textarea>
      </div>
      <button
        type="submit"
        class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
        >Send message</button
      >
    </form>
  </div>
</div>
