---
import ImageCard from "./ImageCard.astro";
import IntroDescription from "./IntroDescription.astro";
---

<section
  id="Intro"
  class="flex mt-10 w-11/12  flex-col-reverse items-center justify-center rounded-lg md:flex-row mb-10 md:mb-20"
>
  <IntroDescription
    title={" I'm Miguel Troncoso "}
    description={"Passionate self-taught developer with a background in business studies, focused on creating high-impact technology solutions. My enthusiasm is focused on new technologies and their potential to address financial and environmental challenges. In addition, I am fascinated by the world of startups and the construction of parallel innovative projects"}
    withRRSS={true}
  />
  <ImageCard />
</section>
